<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test App</title>
</head>
<body>
<h1>Printing table of {{n}} powers</h1>

{% for i in range(1,14):%}
    <h3>{{n}} power {{i}} = {{n**i}}</h3>

{%endfor %}

<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">

<style>

body{
        background-image: url("https://lh3.googleusercontent.com/YyL-X0hdqwOdeigszLZ34gn6upzypNiebBvWebVjjgv41ZH16R28ppbq-q0kxlVAwmAMn3OcA3V9anToynT1y4cauv7bwwjDPjQAEtOUeIG57hkj8qZjEOPdEpocS4aDFa4SvYDf");
        background-position: 200%;
        background-size: cover;
    }
</style>

</body>
</html>

